/*CSS do cabeçalho*/

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;    
}

/*CSS do main*/

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
    
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;     
}

.conteudoPrincipal-cursos-link:nth-child(4n) { /*Serve para retirar o bug  do grid do flex*/
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) { /*Serve para retirar o bug  do grid do flex*/
    margin-left: 0;
}


/*CSS do footer*/

    /*CSS do Mapa de Cursos*/    

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column; /*Transforma o padrão de linhas"roms" para coluna*/
    flex-wrap: wrap; /*Cria a quebra de linha das colunas*/
    /*flex-flow: column wrap;  "Subistitui as funções flex-direction e flex-wrap, juntando em apenas uma" */
    height: 255px; /*Altura de cada coluna, para a proxima quebra de coluna*/
}

/*CSS dos patrocinadores*/

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;}

/*CSS do form*/

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;    
}


