/*CSS do cabeçalho*/

.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;    
}

/*CSS do main*/

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
    
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;     
}

.conteudoPrincipal-cursos-link:nth-child(4n) { /*Serve para retirar o bug  do grid do flex*/
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1) { /*Serve para retirar o bug  do grid do flex*/
    margin-left: 0;
}


/*CSS do footer*/

    /*CSS do Mapa de Cursos*/    

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column; /*Transforma o padrão de linhas"roms" para coluna*/
    flex-wrap: wrap; /*Cria a quebra de linha das colunas*/
    /*flex-flow: column wrap;  "Subistitui as funções flex-direction e flex-wrap, juntando em apenas uma" */
    height: 255px; /*Altura de cada coluna, para a proxima quebra de coluna*/
}

/*CSS dos patrocinadores*/
    
    .rodapePrincipal-patrocinadores .container {
        display: flex;
        justify-content: space-between;
    }

    .rodapePrincipal-patrocinadores-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        margin-right: 5%;}

    /*CSS do form*/

    .rodapePrincipal-contatoForm {
        width: 25%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        display: flex;    
    }

    /*CSS video*/

    .videoSobre .container {
        display: flex;        
    }

    .videoSobre-sobre {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }

    .videoSobre-sobre-list {
        flex-grow: 1;
    }

    .videoSobre-video {
        flex-grow: 1;
        flex-shrink: 2;
    }

    



    /*CSS mobile*/

@media(max-width: 768px) {
    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .conteudoPrincipal-cursos {
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;    
    }

    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;    
    }

    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }

    .rodapePrincipal-contatoForm {
        width: auto;
    }

    .cabecalhoPrincipal-nav-link-app {
        order: -1;
    }

    .videoSobre .container {
        flex-direction: column;
    }

    .videoSobre-video {
        margin: 0 auto;
    }
}